<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.password">password</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/hibernatedb</property>


		<!-- SQL Dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
       
       
       <!--Display all executed SQL to Console -->
		<property name="show_sql">true</property>
		<!-- drop and re-create database schema on start up -->
		<property name="hdm2ddl.auto">create</property>

		<!-- Names the annotated entity class -->
		<property name="Hibernate_eclipse.UserDetails"></property>
	</session-factory>
</hibernate-configuration>
