<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
 		
		<beans>
		<bean class="com.ioc.di.Requiredannotation.pojo.Car" id="c1">
		
		<property name="carNames" value="audi"/>
        <!--  <property name="engine" value="2013"/>
         --> 		
		</bean>
        
		
		</beans>